
.TokenSoonSection_page{
    position: relative;
    width: 96%;
    padding: 4rem 2rem;
    margin-bottom: 6rem;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    gap: 2rem;
    overflow: hidden;
    border-radius: 1rem;
    background: transparent;

    /* 
    background-image: url(../../assets/images/star_space_bg.webp);
    background-position: center;
    background-size:cover;
    */

    box-shadow: inset 0 0 15px 7px rgba(136, 136, 136, 0.5);
}

.TokenSoonSection_page .video_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.TokenSoonSection_page .Token_img_container{
    width:35%;
    position: relative;
    overflow: visible;

    &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 1px;
        height: 1px;
        border-radius: 50%;
        background-color: #002aff86;
        box-shadow: 0 0 200px 180px #002aff86;
        z-index: -1;
    }

    &::after{
        content: "";
        position: absolute;
        top: 30%;
        left: 70%;
        transform: translate(-50%,-50%);
        width: 1px;
        height: 1px;
        border-radius: 50%;
        background-color:  #ff01c884;
        box-shadow: 0 0 100px 100px  #ff01c884;
        z-index: -1;
    }
}

.Token_img_container img{
    width: 100%;
    animation: image_animation_tokenSoon 3s linear infinite alternate;
}

@keyframes image_animation_tokenSoon {
    0%{
        scale: 1;
    }

    100%{
        scale: 0.96;
    }
}


.TokenSoonSection_page .Token_info_container{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.Token_info_container .Token_heading{
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}

.Token_info_container .Token_heading span{
    background: linear-gradient(100deg,#AD00FF 30%, #92FFF8 75%);
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




.TokenSoonSection_page .token_other_box{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:1rem;
    padding: 1.5rem 2rem;
    position: relative;

    border-radius: 0.5rem;
    border: solid 1px rgba(255, 255, 255, 0.444);
   
    background: rgba(62, 0, 55,0.806);
    background: linear-gradient(180deg, rgba(62, 0, 55, 0.482) 0%, rgba(0, 55, 35, 0.482) 100%);
    backdrop-filter: blur(5px);
}

.TokenSoonSection_page .token_other_box p{
    font-size: 1rem;
    font-weight: 400;
}


.token_other_box .before_ilement{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 103%;
    height: 103%;
    background: transparent;
    border: 2px solid rgb(139, 139, 139);

    &::before{
        content: "";
        position: absolute;
        top:-0.6%;
        left: -0.5%;
        width: 12%;
        height: 14%;
        background: transparent;
       border-top: 4px solid #ffffff;
       border-left: 4px solid #ffffff;
    }

    &::after{
        content: "";
        position: absolute;
        bottom:-0.6%;
        right: -0.5%;
        width: 12%;
        height: 14%;
        background: transparent;
       border-bottom: 4px solid #ffffff;
       border-right: 4px solid #ffffff;
    }

}


.token_other_box .distrebutions_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 0.5rem;


}


/* Token info Points style */

.Token_info_container .token_info_points_container{
    width: 100%;
    color: white;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.token_info_points_container .token_info_point{
    width: 45%;
    display: flex;
    justify-content: space-between;
    padding:0.5rem;
    padding-left: 1rem;
    padding-right:1rem;
    box-sizing: border-box;
    border-radius: 3rem;
    background-color: #0F0B15;
    box-shadow: inset 0 0 20px 2px #090cdb98 ,0 3px 7px 1px rgba(0, 21, 255, 0.52);
}

.token_info_points_container .token_info_point p{
    font-size:0.9rem;
    font-weight: 500;
    width: fit-content;
}

/* .tokenomic_point_animation{
    animation-name:key_point_anim ;
    animation-duration:0.7s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;    
    
}

@keyframes key_point_anim {
   to{
        transform: translateX(0px) scaleX(1);
        opacity: 1;
    }
} */










@media (max-width:1100px) {
    .TokenSoonSection_page .Token_img_container{
    

        &::before{
            background-color: #002aff86;
            box-shadow: 0 0 120px 120px #002aff86;
        }
    
        &::after{
            background-color: #ff01c884;
            box-shadow: 0 0 100px 60px #ff01c884;
        }
    }
    
}

@media (max-width:920px) {


    .TokenSoonSection_page{
        padding: 3rem 2rem;
        flex-direction: column-reverse;
        gap: 4rem;
    }

    .TokenSoonSection_page .Token_info_container{
        width:100%;
    }

    .TokenSoonSection_page .Token_img_container{
        width:70%;

            &::before{
                background-color: #002aff86;
                box-shadow: 0 0 150px 130px #002aff86;
            }
        
            &::after{
                background-color: #ff01c884;
                box-shadow: 0 0 100px 70px #ff01c884;
            }

    }


    .TokenSoonSection_page .token_other_box{
        width: 80%;
        padding: 2rem 1rem;
    }

    
    .token_other_box .before_ilement{
        width: 102%;
        height: 108%;
        border: 1px solid rgb(139, 139, 139);

        &::before{
            top:-0.6%;
            left: -0.5%;
            width: 7%;
            height: 20%;
            background: transparent;
            border-top: 3px solid #ffffff;
            border-left: 3px solid #ffffff;
       }

        &::after{
            width: 7%;
            height: 20%;
           border-bottom: 3px solid #ffffff;
           border-right: 3x solid #ffffff;
        }

    }

    
}



@media (max-width:560px) {


    .TokenSoonSection_page{
        padding: 3rem 2rem;
        margin-bottom: 3rem;
        flex-direction: column-reverse;
        gap: 4rem;
    }


    .Token_info_container .Token_heading{
        font-size: 1.5rem;
    }


    .TokenSoonSection_page .Token_img_container{

    
            &::before{
                background-color:  #002aff86;
                box-shadow: 0 0 80px 120px  #002aff86;
            }
        
            &::after{
                background-color: #ff01c884;
                box-shadow: 0 0 80px 60px #ff01c884;
            }

    }


    .TokenSoonSection_page .token_other_box{
        width: 100%;
        padding: 2rem 1rem;
    }
    
    .TokenSoonSection_page .token_other_box p{
        font-size: 0.9rem;
        font-weight: 400;
    }
    
    .token_info_points_container .token_info_point{
        width: 100%;
    }
}